@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');
:root{
  --hand1: Sacramento;
  --hand2: Arial, Helvetica, sans-serif;
  --color-shadow: rgb(2, 188, 2);
  --backgroundColor1: #274C5B;
  --green-color: rgb(30, 205, 30);
}

*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  
}

#nav{
  position: relative;
  display: flex;
  width: 100%;
  height: 100px;
  justify-content: space-around;
  align-items: center;

}

#nav img{
  width: 150px;
}

.menu-list{
  display: flex;
}

.icon > button{
  width: 40px;
  height: 40px;
  background-color: white;
  border-radius: 50%;
  border: none;
  margin-left: 10px;
}

.menu-list ul{
  display: flex;
  list-style: none;
}

.menu-list ul li a{
  text-decoration: none;
  font-size: 25px;
  padding: 0 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 520;
}

.serch{
  width: 250px;
  height: 100px;
  display: flex;
  position: relative;
  align-items: center;
  
}

.icon{
  display: flex;
  align-items: center;
  justify-content: center;
}

.serch input{
  position: absolute;
 width: 250px;
  height: 40px;
  border-radius: 20px;
  border: none;
  outline: none;
  padding: 0 20px;
  font-size: 20px;
}
.serch > button {
  right: 0;
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgb(86, 210, 86);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none  ;
}

.shoping{
  width: 100px;
  height: 40px;
  border: 2px solid #D4D4D4;
  border-radius: 20px;
  margin-left: 20px;
  padding: 1px;
  align-items: center;
  justify-content: space-around;
  display: flex;
}
.shoping > i{
  width: 32px;
  height: 32px;
  background-color: green;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}   
.shoping > label{
  font-size: 14px;
  font-weight: 600;
  font-family: var(--hand2);
}

.menubar{
  display: none;
  position: relative;
  font-size: 20px;
  z-index: 2;
}
.menubar ul{ 
  position: absolute;
  width: 200px;
  transition: 1s;
  right: 0;
  list-style: none;
  flex-direction: column;
}
.menubar ul li a{
  text-decoration: none;
}

.menubar ul li{
  display: flex;
  justify-content: center;
  padding: 10px 0;
  font-family: var(--hand2);
  font-weight: 540;
}

.menubar button{
  border: none;
  background-color: transparent;
}

.menubar button i{
  display: flex;
  justify-content: center;
  font-size: 30px;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}




/* ================================================= footer ==================================================== */
.footer{
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0% 8%;
}

.footer_content{
  position: relative;
  width:100%;
}

.footer_contant_title{
  width: 100%;
  height: 300px;
  background-size: cover;
  border: none;
  border-radius: 20px;
  background-image: url(../public/images/Imagenewslatter.png);
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.footer_title_left{
  font-size: 45px;
  color: white;
  font-family: var(--hand2);
  font-weight: 700;
}

.footer_title_right{
  display: flex;
}

.footer_title_right > input{
  width: 250px;
  height: 50px;
  border-radius: 5px;
  border: none;
  padding: 1% 5%;
  outline: none;
}

.footer_title_right > button{
  padding: 5% 4%;
  border-radius: 5px;
  border: none;
  background-color: var(--backgroundColor1);
  color: white;
}

.footer_contant_middle{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  padding: 10%;      
}


.footer_box1, .footer_box2{
  border-right: 2px solid gray;
  display: flex;
  flex-direction: column;
}

.footer_box1{
  padding: 1% 0%;
  padding-right: 3%;
  width: 280px;
}


.footer_box1 > div{
  margin: 5% 0%;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.footer_box1 > div > span{
  color:var(--backgroundColor1);
  font-weight: 650;
  font-family: var(--hand2);
}

.footer_box1 > div > p,.footer_box2 > p,.footer_box3 > p{
  font-family: var(--hand2);
  
}


.footer_box1 > div > span,.footer_box1 > div > p{
  text-align: end;
}


.footer_box2{
  padding: 1% 3%;
  width: 370px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.footer_box2 > .social{
  display: flex;
}

.footer_box2 > .social > div{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  margin: 0% 3px;
  border-radius: 50%;
  background-color: #EFF6F1;
}

.footer_box2 > p{
  margin: 10% 0%;
  text-align: center;
}

.footer_box2 > img{
  width: 100px;
  margin-bottom: 3%;
}

.footer_box3{
  padding: 1% 3%;
  width: 280px;
}




.footer_box1 > h2,.footer_box3 > h2{
  font-family: var(--hand2);
  font-size: 650;
  color: var(--backgroundColor1);
  
}


.footer_box3 > p{
  padding: 5% 0%;
}

.footer_contant_bottom{
  width: 100%;
  text-align: center;
  padding: 2% 0%;
  font-family: var(--hand2);
}

.footer_contant_bottom > p > span{
  color: var(--backgroundColor1);
  font-weight: 650;
}

/* ============================================= Responsive  ============================================== */
@media (max-width:1370px){
  .home_news_contain{
    justify-content: center;
  }
} 
@media (max-width:1200px) {
  .menubar{ 
    display: block;
  }


  .menu-list{
    display: none;
  }
}

@media (max-width:720px){
  .home_aboutus{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .home_aboutus_content{
    float: none;
  }
  .serch{
    display: none;
  } 

  .footer_contant_title{
    flex-direction: column;
  }

}


@media (max-width:600px) {
    .home_offer_contain{
      justify-content: center;
      align-items: center;
    }
}

/* @media(max-width:600){
  .home_aboutus_content{
    width: 100%;
    padding: 0%;
  }
} */

@media (max-width:970px) {
  .footer_box1,.footer_box2,.footer_box3{
    width: 100%;
    border: none;
    text-align: center;
  }
  .footer_box1 > div > span,.footer_box1 > div > p{
    text-align: center;
  }

  .home_offer_contain > div,.home_upcoming_cover > div, .home_news_contain_value{
    margin: 30px 0px;
  }
}


/* ====================== Person ================================= */
.person{
  transition: .5s;
}

.person_content{
  background-color: rgb(215, 213, 213);

}

.person:hover{
  transform: scale(1.1);
}

.person:hover .person_content{
  background-color: white;
}
.person_content_name{
  width: 100%;
  text-align: left;
  padding: 1% 4%;
}

.person_social{
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.person_social > .proficition{
  font-family: var(--hand2);
  font-weight: 650;
  padding: 1% 4%;
  color: var(--backgroundColor1);
}

.person_social_icon{
  display: flex;
}

.person_social_icon > a{
  text-decoration: none;
}

.person_social_icon > a > i{
  margin: 4px 7px;
  font-weight: 600;  
  color: #274C5B;
}

