<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../public/login.css">
</head>
<body>
    <form id="login">
        <div class="login_box">
            <h1>Login</h1>
            <label>Enter your use Name or Email id</label>
            <input type="text" name="email" id="txt1">
            <label>Enter the password :</label>
            <input type="password" name="password" id="pass1">
            <button onclick="signup()">Signup</button>
            <a href="./signup">Make a new Account</a>
        </div>

    </form>
</body>
<script>

    const signup = () => {
        window.location.href= "./login"
    }

</script>
</html>