<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="signup" id="signup">
        <div class="signup_box">
            <h1>Signup</h1>
            <label>Enter your name:</label>
            <input type="text" name="name"><br>
            <label>Enter your user name:</label>
            <input type="text" name="username"><br>
            <label>Enter your Email:</label>
            <input type="email" name="email"><br>
            <label>Enter your password:</label>
            <input type="password" name="password"><br>
            <input type="submit"><br>
            <a href="/">I already have account</a>
        </div>
    </form>
</body>
</html>